version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: starburger
      POSTGRES_USER: evgenijsozykin
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    environment:
      - DATABASE_URL=postgresql://evgenijsozykin:1234@db:5432/starburger
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - media_volume:/app/media
    depends_on:
      - db
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:3000"
    volumes:
      - ./bundles-src:/app/bundles-src
      - ./bundles:/app/bundles
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend
    restart: unless-stopped

volumes:
  postgres_data:
  media_volume:
